{% extends 'base.html.twig' %}

{% block title %}Hello CGVController!{% endblock %}

{% block body %}
<style>
    .CGV { margin: 9em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    
</style>

<div class="CGV">
	<div class="b-c b-text-c b-s b-s-t60 b-s-b60 b-cs cf"><h1 class="wnd-align-center"><strong>CGV</strong></h1>

<p><strong>CONDITIONS GÉNÉRALES DE VENTES</strong></p><p>CIQUETS &amp; CO</p><p>Noémie DUBOURDIEU, 32 hameau Saint Angel, 33670 Le Pout</p><p>criquetsandco@gmail.com</p><p>Téléphone :06 10 66 23 45</p><p>N° de siren 818 246 167</p><p><em>Dispensé d'immatriculation en application de
l'article L123-1-1 du Code de Commerce</em></p><p>Déclaration
d'activité : <em>753 311 99 133</em>
auprès du Préfet de la région Nouvelle-Aquitaine</p><p>Désigné comme
le prestataire de services ou centre de formations</p><p><strong>Et le client désigné comme le bénéficiaire des
prestations de services ou de formations (personne physique ou morale)</strong></p><p><strong>L'acceptation du devis vaut acceptation des
présentes CGV qui constituent le </strong>contrat de
formation professionnelle en application des <strong>articles L. 6353-3 à L. 6353-7 du Code du Travail</strong>.</p><p><strong>Objet et champ
d'application</strong></p><p>Les présentes Conditions Générales de Vente
déterminent les conditions applicables aux prestations de formation effectuées
par Noémie DUBOURDIEU pour le compte d'un client. Toute commande de formation
auprès de la société implique l'acception sans réserve du client des présentes
Conditions Générales de Vente. Ces conditions prévalent sur tout autre document
du client, en particulier sur toutes conditions générales d'achat.</p><p><strong>Devis et attestation</strong></p><p>Pour chaque formation, Noémie
DUBOURDIEU s'engage à fournir un devis au client. Ce dernier est tenu de retourner à la
société un exemplaire renseigné, daté et signé, avec la mention « Bon pour
accord ». À la demande du client, une attestation de présence ou de fin de
formation peut lui être fournie.</p><p><strong>Prix et modalités de
paiement</strong></p><p>Les prix des formations sont indiqués en euros net de
TVA. Toute commande fera l'objet d'une demande d'acompte de 30%. L'exécution de
la prestation ne commencera qu'après encaissement de l'acompte. Le solde est à
effectuer au 1er jour de la formation, à la réception de la facture.
Le règlement des factures peut être effectué par chèque ou virement.</p><p><strong>Prise en charge</strong></p><p>Si le client bénéficie d'un financement par un
Organisme Paritaire Collecteur Agréé (OPCO), il doit faire une demande de prise
en charge avant le début de la prestation et nous fournir l'accord de
financement lors de l'inscription. Dans le cas où la société ne reçoit pas la
prise en charge de l'OPCO au 1er jour de la formation,
l'intégralité des coûts de formation sera facturée au client.</p><p><strong>Conditions de report
et d'annulation d'une séance de formation</strong></p><p>L'annulation d'une séance de formation est possible, à
condition de le faire au moins 10 jours calendaires avant le jour et l'heure
prévus. Toute annulation doit faire l'objet d'une notification par e-mail à
l'adresse dubourdieu.noemie@orange.fr. En cas d'annulation entre 4 et 10
jours ouvrables avant la date de la formation, le client est tenu de payer une
pénalité d'annulation, à hauteur de 50% du coût total initial de la formation.
En cas d'annulation moins de 3 jours ouvrables avant le début de la formation,
une pénalité d'annulation correspondant à 90% du coût total initial sera
facturée au client.</p><p>La demande de report de sa participation à une
formation peut être effectuée par le client, à condition d'adresser une demande
écrite à l'organisme de formation dans un délai de 10 jours ouvrés avant la
date de la formation.</p><p>En cas d'inexécution de ses obligations à la suite d'un
événement fortuit ou à un cas de force majeur, Noémie
DUBOURDIEU ne pourra être tenue responsable à l'égard de ses clients. Ces derniers
seront informés par mail.</p><p>La société se réserve la possibilité d'annuler une
session de formation inter-entreprise dans les 10 jours ouvrables qui précèdent
la formation. La société proposera alors une date de report ou le remboursement
de la formation si celle a déjà été réglée.</p><p><strong>Programme des
formations</strong></p><p>S'il le juge nécessaire, l'intervenant pourra modifier
ou adapter les contenus des formations suivant la dynamique de groupe ou le niveau
des participants. Les contenus des programmes figurant sur les fiches de
présentation ne sont ainsi fournis qu'à titre indicatif.</p><p><strong>Propriété
intellectuelle et droit d'auteur</strong></p><p>Les supports de formation, quelle qu'en soit la forme
(papier, numérique, électronique...), sont protégés par la propriété
intellectuelle et le droit d'auteur. Leur reproduction, partielle ou totale, ne
peut être effectuée sans l'accord exprès de son formateur créateur du support
Noémie DUBOURDIEU. Le client s'engage à ne pas utiliser, transmettre ou
reproduire tout ou partie de ces documents en vue de l'organisation ou de
l'animation de formations.</p><p><strong>Informatique et
libertés </strong></p><p>Les informations à caractère personnel communiquées
par le client à Noémie DUBOURDIEU sont utiles pour le
traitement de l'inscription ainsi que pour la constitution d'un fichier comptable
de sa clientèle. Suivant la loi « informatique et libertés » du 6
janvier 1978, le client dispose d'un droit d'accès, de rectification et
d'opposition des données personnelles le concernant.</p><p><strong>Loi applicable et
attribution de compétence</strong></p><p>































</p><p>Les présentes Conditions Générales de Vente sont
encadrées par la loi française. En cas de litige survenant Noémie DUBOURDIEU et
le client, la recherche d'une solution à l'amiable sera privilégiée. À défaut,
l'affaire sera portée devant les tribunaux de Bordeaux.</p>
</div>
</div>
{% endblock %}
