{% extends 'base.html.twig' %}

{% block title %}Hello MentionLegalController!
{% endblock %}

{% block body %}
	<style>
		.Mentionlégal {
			margin: 9em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="Mentionlégal">
		<div class="s-bg cf">
			<div class="s-bg-l"></div>
		</div>
		<div class="s-c s-fs cf">
			<div class="ez cf wnd-no-cols">
				<div class="ez-c">
					<div class="b b-text cf">
						<div class="b-c b-text-c b-s b-s-t60 b-s-b60 b-cs cf">
							<h1 class="wnd-align-center">
								<strong>MENTIONS LÉGALES</strong>
							</h1>
							<p>Conformément aux dispositions des
								Articles 6-III et 19 de la Loi n°2004-575 du 21 juin 2004 pour la Confiance
								dans l'économie numérique, dite L.C.E.N., il est porté à la connaissance des
								Utilisateurs du site
								<em>https://criquets-co.webnode.fr
								</em>les
								présentes mentions légales.</p>
							<p>La connexion et la navigation sur
								le site
								<strong>Criquets &amp; Co</strong>
								par l'Utilisateur implique acceptation intégrale et
								sans réserve des présentes mentions légales.</p>
							<p>Ces dernières sont accessibles
								sur le site à la rubrique « Mentions légales ».</p>
							<h2>
								<strong>ARTICLE 1 : L'éditeur</strong>
							</h2>
							<p>Le site&nbsp;<em>https://criquets-co.webnode.fr</em>
								<em>&nbsp;</em>&nbsp;est édité par Criquets &amp; Co représenté par Noémie DUBOURDIEU, 32 hameau Saint Angel, 33670 Le Pout, SIRET&nbsp;81824616700014 non assujetti à la TVA.</p>
							<h2>
								<strong>ARTICLE 2 : L'hébergeur</strong>
							</h2>
							<p>L'hébergeur du site&nbsp;<a href="https://criquets-co.webnode.fr" rel="nofollow" target="_blank">https://criquets-co.webnode.fr</a>&nbsp;est la Société Webnode,&nbsp;dont le siège social est situé&nbsp;3 Gartenstrasse&nbsp;6304 Zug,&nbsp;Suisse.</p>
							<h2>
								<strong>ARTICLE 3 : Accès au site</strong>
							</h2>
							<p>Le site est accessible par tout
								endroit, 7j/7, 24h/24 sauf cas de force majeure, interruption programmée ou non
								et pouvant découlant d'une nécessité de maintenance.</p>
							<p>En cas de modification,
								interruption ou suspension des services le site&nbsp;<em>https://criquets-co.webnode.fr</em>&nbsp;<em>&nbsp;</em>ne
								saurait être tenu responsable.</p>
							<h2>
								<strong>ARTICLE 4 : Collecte des
									données</strong>
							</h2>
							<p>Les informations recueillies sur le site&nbsp;<em style="font-size: 1rem;">
									<a href="https://criquets-co.webnode.fr" rel="nofollow" target="_blank">https://criquets-co.webnode.fr</a>&nbsp;</em>sont enregistrées dans un fichier informatisé par le responsable de traitement.&nbsp;La finalité du traitement automatisé des données personnelles sur le site est l'envoi d'informations commerciales par email.&nbsp;Afin de traiter votre demande, certaines informations sont obligatoires. Celles-ci sont indiquées sur le formulaire.</p>
							<p>Nous nous engageons à prendre toutes les précautions afin de préserver la sécurité des données et notamment d'empêcher qu'elles ne soient déformées, endommagées ou communiquées à des tiers.</p>
							<p>Nous conservons vos données personnelles pour la durée nécessaire au respect des dispositions légales et réglementaires.&nbsp;</p>
							<h2>
								<strong>ARTICLE 5 : Droit d’accès, de modification, de rectification et de suppression des données</strong>
							</h2>
							<p>Les utilisateurs disposent d'un droit d'accès, de modification, de rectification et de suppression des données les concernant conformément à ce qu'énoncent les articles 39 et 40 de la loi du 6 janvier 1978 modifiée par la loi du 6 août 2004 ainsi que les recommandations de la LCEN. Ce droit peut être exercé par voir postale ((Criquets &amp; Co, Noémie DUBOURDIEU, 32 hameau Saint Angel, 33670 LE POUT) ou directement via le formulaire de contact du site.</p>
							<p><br></p>
							<h2>
								<strong>ARTICLE 6: Cookies</strong>
							</h2>
							<p>L'Utilisateur est informé que
								lors de ses visites sur le site, un cookie peut s'installer automatiquement sur
								son logiciel de navigation.</p>
							<p>En naviguant sur le site, il les
								accepte.</p>
							<p>Un cookie est un élément qui ne
								permet pas d'identifier l'Utilisateur mais sert à enregistrer des informations
								relatives à la navigation de celui-ci sur le site Internet. L'Utilisateur
								pourra désactiver ce cookie par l'intermédiaire des paramètres figurant au sein
								de son logiciel de navigation.</p>
							<h2>
								<strong>ARTICLE 7 : Propriété
									intellectuelle</strong>
							</h2>
							<p>Toute utilisation, reproduction,
								diffusion, commercialisation, modification de toute ou partie du site&nbsp;<em>https://criquets-co.webnode.fr</em>,
								sans autorisation de l'Éditeur est prohibée et pourra entraînée des actions et
								poursuites judiciaires telles que notamment prévues par le Code de la propriété
								intellectuelle et le Code civil.</p>
							<p>Pour plus d'informations, se
								reporter aux
								<em>CGU
								</em>du
								site&nbsp;<em>https://criquets-co.webnode.fr</em>&nbsp;&nbsp;accessible à la rubrique<em>« CGU ».</em>
							</p>
							<h2><br></h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
