{% extends 'base.html.twig' %}

{% block title %}Hello PolitiqueDeConfidentialitéController!{% endblock %}

{% block body %}
<style>
    .politique { margin: 9em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
</style>

<section class="politique">
	<div class="s-w cf">
		<div class="s-o s-fs cf">
			<div class="s-bg cf">
				<div class="s-bg-l">
                    
					
				</div>
			</div>
			<div class="s-c s-fs cf">
				<div class="ez cf wnd-no-cols">
	<div class="ez-c"><div class="b b-text cf">
	<div class="b-c b-text-c b-s b-s-t60 b-s-b60 b-cs cf"><h1 class="wnd-align-center"><strong>POLITIQUE DE CONFIDENTIALITÉ</strong></h1>

<p></p><p><br></p><p>Date de
dernière mise à jour : 16/05/2022</p><p><strong>ARTICLE 1 :
COLLECTE DE VOS INFORMATIONS</strong><strong>​</strong></p><p>Nous
recueillons des informations lorsque vous remplissez nos <strong><em>formulaires de contact</em></strong>, <strong><em>de newsletter</em></strong>.</p><p>Nous
pouvons récolter les informations suivantes : <strong><em>votre prénom</em></strong>, <strong><em>votre nom</em></strong>, <strong><em>votre adresse e-mail</em></strong>, <strong><em>votre numéro de téléphone</em></strong>, <strong><em>votre adresse</em></strong> et <strong><em>votre localité</em></strong>.</p><p>En outre,
nous pouvons recevoir et enregistrer automatiquement des informations à partir
de votre ordinateur et navigateur, y compris votre adresse IP, vos logiciels et
votre matériel, et la page que vous demandez selon vos préférences cookies que
vous avez sélectionné via notre bandeau.</p><p><strong>ARTICLE 2 :
UTILISATION DE VOS INFORMATIONS</strong></p><p>Toutes
les informations que nous recueillons de votre part peuvent être utilisées pour
:</p><p>Vous contacter de manière plus efficace ;</p><p>Collecter et établir des statistiques pour améliorer nos campagnes
marketing et web-marketing ;</p><p>Vous envoyer des newsletters dans le cas où vous êtes inscrit(e)s
à celles-ci ;</p><p>Personnaliser votre expérience et répondre à vos besoins
individuels</p><p><strong>ARTICLE 3 :
CONFIDENTIALITE DE VOS DONNEES</strong></p><p>Nous sommes les seuls
propriétaires des informations recueillies sur notre site. Vos informations
personnelles ne seront pas vendues, échangées, transférées, ou données à une
autre société pour n'importe quelle raison, sans votre consentement.​</p><p><strong>ARTICLE 4 : DIVULGATION
A DES TIERS</strong></p><p>Nous ne
vendons, n'échangeons et ne transférons pas vos informations personnelles
identifiables à des tiers. Cela ne comprend pas les tierce parties de confiance
qui nous aident à exploiter notre site web ou à mener nos affaires, tant que
ces parties conviennent de garder ces informations confidentielles.​</p><p><strong>ARTICLE 5 :
PROTECTION DE VOS INFORMATIONS</strong></p><p>Nous
mettons en œuvre une variété de mesures de sécurité pour préserver la sécurité
de vos informations personnelles. Nous utilisons un cryptage à la pointe de la
technologie pour protéger les informations sensibles transmises en ligne. Notre
site internet possède bien entendu un <strong>Certificat SSL (Secure Socket Layer)</strong>.</p><p>Nous
protégeons également vos informations hors ligne. Seuls membres autorisés de
l'entreprise qui ont besoin d'effectuer un travail spécifique (par exemple, la
facturation ou le service aux membres) ont accès aux informations personnelles
identifiables. Les ordinateurs et serveurs utilisés pour stocker des
informations personnelles identifiables sont conservés dans un environnement
sécurisé par notre hébergeur.​</p><p><strong>ARTICLE 6 : COPIE
OU SUPPRESSION DE VOS INFORMATIONS</strong></p><p>Nous
stockons les données transmises via nos différents formulaires de contact.</p><p>Cependant,
vous avez la possibilité de nous contacter par e-mail à <strong>contact@criquetsandco.fr</strong>&nbsp;ou par téléphone au <strong>06 10 66 23 45</strong> pour toute demande de copie
ou de suppression de vos données personnelles que nous stockons.​</p><p><strong>ARTICLE 7 : ENVOI
DE NEWSLETTERS</strong><strong>​</strong></p><p>Si vous
êtes concerné(e)s par l'envoi de notre newsletter, vous pouvez en tout temps
vous désabonner de celles-ci via une proposition sur le bas de chaque e-mail.​</p><p><strong>ARTICLE 8 :
POLITIQUE DE L'HEBERGEUR</strong></p><p>Notre
hébergeur possède sa propre politique de confidentialité concernant l'utilisation
de vos données que vous pouvez consulter en tout temps <strong>[<a href="#" target="_blank">ici : lien de la
politique de confidentialité de l'hébergeur</a>]</strong>.​</p><p><strong>ARTICLE 9 :
CONSENTEMENT A NOTRE POLITIQUE</strong></p><p>



























</p><p>​En
utilisant notre site, vous consentez à notre politique de confidentialité et
que celle-ci puisse être modifiée en tout temps par l'éditeur.</p><p></p>
</div>
</div></div>
</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
